<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DvdSubExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DvdSubExtractor.Properties.Settings>
            <setting name="DvdFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="MinimumDvdTrackLength" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SampleVideoLength" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SampleVideoPlayerPath" serializeAs="String">
                <value>C:\Program Files\VideoLAN\VLC\vlc.exe</value>
            </setting>
            <setting name="SubitleFileFontName" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="SubtitleStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SubtitleEditorPath" serializeAs="String">
                <value>C:\Program Files\Aegisub\aegisub32.exe</value>
            </setting>
            <setting name="DgIndexPath" serializeAs="String">
                <value>C:\Program Files\MeGUI\tools\dgindex\DGIndex.exe</value>
            </setting>
            <setting name="FontSizeAdjustmentPercent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SubtitleFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubtitleFontOutline" serializeAs="String">
                <value>1.4</value>
            </setting>
            <setting name="SubtitleFontShadow" serializeAs="String">
                <value>1.7</value>
            </setting>
            <setting name="SubtitleVerticalMargin" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SubtitleHorizontal4x3Margin" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SubtitleHorizontal16x9Margin" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SubtitleForeColor" serializeAs="String">
                <value>228, 223, 226</value>
            </setting>
            <setting name="SubtitleColorScheme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SubtitleBorderColor" serializeAs="String">
                <value>224, 0, 0, 0</value>
            </setting>
            <setting name="SubtitleShadingColor" serializeAs="String">
                <value>56, 0, 0, 0</value>
            </setting>
            <setting name="KerningAdjustMRU" serializeAs="String">
                <value />
            </setting>
            <setting name="SubtitleFontDefaultSize" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="StoreSupTextInSourceDir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveSDHSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScaleSubtitleBitmap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StoreSrtAsANSI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataFileInExeDirectory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InitialBrowseDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="InitialStepIsBrowse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PositionSubs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpanishSpecialCharacters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaitForEnterDuringOcr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrenchSpecialCharacters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LargeMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedKerningValues" serializeAs="String">
                <value />
            </setting>
        </DvdSubExtractor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
